[user]
    name = James Downing
    email = jamesdowning15@gmail.com

[alias]
    st = status
    co = checkout
    ci = commit
    br = branch
    pu = "!git push -u origin \"$(git symbolic-ref --short HEAD)\""

[color]
    ui = auto
